<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bitzh.dao.TeacherRoleItemMapper">

	<resultMap id="BaseResultMap" type="cn.bitzh.model.TeacherRoleItem">
		<id column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
		<id column="teacher_role_id" property="teacherRoleId" jdbcType="INTEGER" />
		<result column="access" property="access" jdbcType="INTEGER" />
	</resultMap>
</mapper>